.card-frame {
  margin: 1%;
  width: 12em;
  line-height: 14em;
  height: 14em;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
}

.card-frame:active {
  background-color: grey;
}

.card-value {
  font-size: 450%;
}
