.table-members {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.table-container {
  width: 20%;
  padding: 0;
}

.status {
  width: 50%;
  text-align: center;
  border: black 1px solid;
}

.cards-row {
  margin: 0 10% 1% 10%;
}
