.table-members {
  align-items: center;
  justify-content: center;
  margin: auto;
  float: right;
}

.table-container {
  width: 15%;
  position: absolute;
  right: 2%;
}

.status {
  width: 50%;
  text-align: center;
  border: black 1px solid;
}

.cards-row {
  margin: 0 10% 1% 10%;
}
