.table-container {
  width: 25%;
  padding: 0;
}

@media (max-width: 856px) {
  .table-container {
    width: 50%;
    padding: 0;
  }
}

.status {
  width: 50%;
  text-align: center;
  border: black 1px solid;
}

.cards-row {
  margin: 0 10% 1% 10%;
}
