.text {
  text-align: center;
  margin-top: 10%;
  font-size: 400%;
}

@media (max-width: 856px) {
  .text {
    font-size: 200%;
  }
}

.row {
  justify-content: center;
}

.btn-main {
  width: 100%;
}

.label {
  font-size: large;
}

.separator {
  margin: 5% 0 5% 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}
