.room-form {
  width: 18%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #343a40;
  border-color: #343a40;
}

.custom-checkbox {
  margin-left: 2.25rem;
  user-select: none;
}


.cards-row {
  margin: 1% 15% 1% 15% !important;
}

.text-error {
  color: #dc3545;
}
